<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div class="container">
		<div class="top">
			<h1 id="title"><span id="logo">STACK <span>OVERFLOW</span></span></h1>
		</div>
		<div class="login-box">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
			<label for="username">Username</label>
			<br/>
			<input type="text" id="username">
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" id="password">
			<br/>
			<button type="submit" onclick="location.href='stack.html';">Log In </a></button>
			<br/>
			<a href="#"><p class="small">Forgot your password?</p></a>
			<a href="signup.html"><p class="small">Not registered? Click here to Sign Up</p></a>
				
		</div>
	</div>
	</body>
	</html>
