<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div>
		<ul class="nav">
			<li><a href="index.html">HOME</a></li>
			<li class="active"><a href="post_quests.html">POST QUESTION</a></li>
			<li><a href="ans.html">ANSWER</a></li>
			<li><a href="login.html">LOGOUT</a></li>
		</ul>
	</div>
	<p> POST YOUR QUESTION HERE</p>
	<b/>
	<p>
		<textarea name="text" id="text" cols="70%" rows="15"></textarea>
		<label for="Text" style="display:none;"><small>question (required)</small></label>
	</p>
	<p><input name="submit" type="submit" id="submit" onclick="location.href='view_quest.html';" value="Submit" />
	</p>


</body>
</html>