<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo"> STACK <span>OVERFLOW</span></span></h1>
		</div>
		<div class="signup-box">
			<div class="box-header">
				<h2>Signup</h2>
			</div>
		
			<input type="text" id="name" placeholder="Enter your Name">
			<br/>
			<input type="text" id="username" placeholder="Enter your username">
			<br/>
			<input type="password" id="password" placeholder="Enter Password"> 
			<br/>
			<input type="password" id=" confirm password" placeholder="Confirm password">
			<br/>
			<input type="text" id="email" placeholder="Enter your email">
			<br/>
			<button type="submit" onclick="location.href='login.html';">Sign Up</button>
			<br/>
		</div>
	</div>
	

</body>
</html>