<!DOCTYPE html>
<html>
<head>
	<title>STACKOVERFLOW</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div>
		<ul class="nav">
			<li class="active"><a href="index.html">HOME</a></li>
			<li><a href="post_quests.html">POST QUESTION</a></li>
			<li><a href="ans.html">ANSWER</a></li>
			<li><a href="login.html">LOGOUT</a></li>
		</ul>
	</div>
	<h1 id="title"><span id="logo">STACK <span>OVERFLOW</span></span></h1>
	<div class="loc">
		<p> Platform where burning questions are answered!!! </p>
		<p> Your go to page for any enquireis!</p>
		<p> Variety of answers are available from different users</p>
	</div>
		
</body>
</html>